body {
    display: flex;
}

.sidebar {
    width: 0;
    height: 100vh;
    background-color: rgb(16, 16, 16,1); /* Color de fondo más oscuro */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

    .sidebar a {
        padding: 15px 15px 15px 30px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: background-color 0.3s, color 0.3s; /* Transición para el cambio de color de fondo y texto */
        background-color: rgb(16, 16, 16); /* Color de fondo uniforme para los botones */
        margin-bottom: 10px; /* Espacio entre los botones */
    }

        .sidebar a:hover {
            background-color: #3b4146; /* Color más oscuro al hacer hover */
            color: black; /* Cambia el color del texto a negro */
        }

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.5s;
    width: 100%;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 216, 0,1); /* Color de fondo del botón */
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
}

.content h1, .content h2, .content p {
    color: #343a40; /* Color principal para el contenido */
}

.sidebar img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}
