@model SPH.Models.Messenger

@{
    ViewData["Title"] = "Agregar Contacto";
}

<h2>Agregar Contacto</h2>

<form id="createContactForm" asp-action="Create" asp-controller="Messengers" method="post">
    <div class="form-group">
        <label asp-for="UserContactId" class="control-label"></label>
        <input asp-for="UserContactId" class="form-control" />
        <span asp-validation-for="UserContactId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameUserContact" class="control-label"></label>
        <input asp-for="NameUserContact" class="form-control" />
        <span asp-validation-for="NameUserContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <!-- Campo oculto para UserId -->
        <input asp-for="UserId" type="hidden" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#createContactForm').submit(function (event) {
                event.preventDefault();

                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);

                            setTimeout(function () {
                                window.location.href = '@Url.Action("Index", "Messengers")';
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Algo salió mal... Intente nuevamente',
                            text: 'El ID de usuario no existe o no ha sido encontrado',
                        });
                    }
                });
            });
        });
    </script>
}