@model SPH.Models.Messenger

@{
    ViewData["Title"] = "Editar Contacto";
}

<h2>Editar Contacto</h2>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

<form asp-action="Edit">
    <input type="hidden" asp-for="MessengerId" />
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="UserContactId" class="control-label"></label>
        <input asp-for="UserContactId" class="form-control" />
        <span asp-validation-for="UserContactId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameUserContact" class="control-label"></label>
        <input asp-for="NameUserContact" class="form-control" />
        <span asp-validation-for="NameUserContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

