@{
    ViewData["Title"] = "Política de Privacidad";
}
<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>Esta página detalla la política de privacidad de Student Planner Hub.</p>

    <p>En Student Planner Hub, nos tomamos muy en serio la privacidad de nuestros usuarios. A continuación, detallamos cómo tratamos y protegemos la información que recopilamos:</p>

    <h3>1. Información Recopilada</h3>
    <p>Recopilamos información personal de los usuarios al registrarse en la plataforma, incluyendo nombres, direcciones de correo electrónico, y otra información relevante necesaria para el uso de nuestros servicios.</p>

    <h3>2. Uso de la Información</h3>
    <p>La información personal recopilada se utiliza para proporcionar funcionalidades y servicios personalizados a nuestros usuarios, como la gestión de notas, eventos, tareas, y la interacción entre usuarios a través de la función de mensajería.</p>

    <h3>3. Seguridad de los Datos</h3>
    <p>Nos comprometemos a proteger la información personal de nuestros usuarios. Utilizamos medidas de seguridad físicas, administrativas y técnicas para proteger contra el acceso no autorizado, la divulgación o destrucción de datos personales.</p>

    <h3>4. Responsabilidad del Usuario</h3>
    <p>Los usuarios son responsables de mantener la confidencialidad de sus credenciales de inicio de sesión. No compartas tu contraseña con nadie y asegúrate de cerrar sesión cuando utilices un dispositivo compartido.</p>

    <h3>5. Cambios en la Política de Privacidad</h3>
    <p>Student Planner Hub se reserva el derecho de actualizar esta política en cualquier momento. Se notificarán cambios importantes a los usuarios mediante notificaciones dentro de la plataforma.</p>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Regresar a la página principal</a>
</div>
